[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
gensim = "*"
pandas = "*"
psycopg2 = "*"
python-dotenv = "*"
certifi = "*"
spacy = "*"
scikit-learn = "*"
pgvector = "*"
flask = "*"
flask_cors = "*"
flask-sock = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
